<template>
    <!--
        Taken from https://vuejs.org/v2/examples/vue-modal.html
        Renamed some classes to avoid clashing with those of Bootstrap
    -->
    <transition name="vue-modal">
        <div class="vue-modal-mask">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "Modal"
    };
</script>

<style scoped>
    .vue-modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .vue-modal-enter {
        opacity: 0;
    }

    .vue-modal-leave-active {
        opacity: 0;
    }

    .vue-modal-enter .modal-content,
    .vue-modal-leave-active .modal-content {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

</style>
