<template>
    <div>
        <form class="form-horizontal" @submit.prevent="onSubmit">
            <div class="card">
                <h4 class="card-header text-center font-weight-bold">{{ headline.text }}</h4>
                <div class="card-body">
                    <div class="form-group">
                        <label for="title" class="control-label">Title</label>
                        <input type="text" id="title"
                               class="form-control" :class="{ 'is-invalid': errors.title }"
                               placeholder="Post Title"
                               v-model="post.title"
                        >
                        <span v-if="errors.title" class="help-block text-danger">{{ errors.title[0] }}</span>
                    </div>

                    <div class="form-group">
                        <label for="text" class="control-label">Title</label>
                        <textarea type="text" id="text"
                                  class="form-control" :class="{ 'is-invalid': errors.text }"
                                  placeholder="Your idea, rant, advice... put it here"
                                  v-model="post.text"
                                  rows="5"
                        ></textarea>
                        <span v-if="errors.text" class="help-block text-danger">{{ errors.text[0] }}</span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 text-center">
                        <button v-if="showDelete" type="button" class="btn btn-danger text-capitalize"
                                @click="deletePost(post.id)"
                        >
                            delete
                        </button>
                        <button type="submit" class="btn btn-primary text-capitalize">
                            {{ this.action }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <modal v-if="modal.show" @close="modal.show = false">
            <h4 slot="header">{{ modal.header }}</h4>
            <div slot="body">{{ modal.body }}</div>
        </modal>
    </div>
</template>

<script>
    export default {
        name: "PostForm",

        props: {
            user: {
                type: Object
            },
            action: {
                type: String,
                default: 'create'
            },
            post: {
                type: Object,
                default: () => {
                    return {
                        id: '',
                        text: '',
                        title: ''
                    };
                }
            },
        },

        data() {
            return {
                showDelete: this.action === 'edit',
                actions: {
                    create: {
                        modal: {
                            body: 'Your Post is now available!'
                        },
                        requestMethod: 'post'
                    },
                    edit: {
                        modal: {
                            body: 'Your Post was updated!'
                        },
                        requestMethod: 'put'
                    }
                },
                errors: [],
                headlines: [
                    'Be Nice',
                    'Be Positive',
                    'Be Weird',
                    'Be Humble',
                    'What The Hell Are These Messages?',
                    'Glad You Are Enjoying This',
                    'OK, Move On',
                    'No, Really. You Should Be Working'
                ],
                headline: {
                    text: 'You Are About To Create Something',
                    index: -1
                },
                modal: {
                    show: false,
                    header: null,
                    body: null
                }
            };
        },

        methods: {
            onSubmit() {
                const method = this.actions[this.action].requestMethod;
                const post = {
                    title: this.post.title,
                    text: this.post.text,
                    author_id: this.user.id
                };
                let endpoint = '/api/posts';
                if (this.action === 'edit') {
                    endpoint = endpoint + '/' + this.post.id;
                }


                axios[method](endpoint, post)
                  .then(({data}) => this.setSuccessMessage())
                  .catch(({response}) => this.setErrors(response));
            },

            deletePost(id) {
                if (confirm('Are you sure you want to delete this post?')) {
                    axios.delete('/api/posts/'+id)
                      .then(({data}) => {
                          window.location = '/';
                      })
                      .catch(({response}) => this.setErrors(response));
                }
            },

            setSuccessMessage() {
                this.modal = {
                    show: true,
                    header: 'Success',
                    body: this.actions[this.action].modal.body
                };
                setTimeout(() => {
                    window.location = '/';
                }, 2000);
            },

            setErrors(response) {
                this.errors = response.data.errors;
            }
        },

        mounted() {
            setInterval(() => {
                this.headline.index = (this.headline.index + 1 > this.headlines.length - 1)
                  ? 0
                  : this.headline.index + 1;

                this.headline.text = this.headlines[this.headline.index];
            }, 5000);
        }
    };
</script>

<style scoped>

</style>
