<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-header" v-if="user && post.author.id === user.id">
                <a :href="post.link+'/edit'" class="card-link float-right">Edit</a>
            </div>
            <div class="card-body">
                <h2 class="card-title font-weight-bold">
                    {{ post.title }}
                </h2>
                <h6 class="card-subtitle text-muted mb-4">
                    {{ post.created }} by <strong class="text-uppercase">{{ post.author.name }}</strong>
                </h6>
                <p class="card-text">{{ post.text }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PostDetail",

        props: {
            post: null,
            user: null
        }
    };
</script>

<style scoped>

</style>
