<template>
    <div>
        <template v-if="posts.length">
            <div class="card-columns">
                <div class="card" v-for="post in posts">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase font-weight-bold">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ post.created }}</h6>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <a :href="post.link" class="card-link text-right">Continue reading</a>
                    </div>
                </div>
            </div>
        </template>
        <div class="card" v-else>
            <div class="card-body">
                <h3 class="card-text text-center">No Posts Yet!</h3>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                posts: [],
                endpoint: 'api/posts'
            };
        },

        created() {
            this.fetch();
        },

        methods: {
            fetch() {
                axios.get(this.endpoint)
                  .then(({data}) => {
                      this.posts = data.data;
                  });
            }
        }
    };
</script>

<style scoped>

</style>
